<html>
  <head>
    <title>Bookmark Manager</title>
  </head>
  <body>
    <form method='get' action='/users/new'>
      <input type='submit' value='Sign up'>
    </form>
    <form method='get' action='/sessions/new'>
      <input type='submit' value='Sign in'>
    </form>
  </body>
</html>
